@import url(https://www.santander.com.mx/personas/assets/fonts/fuentes.css);
@import url(https://www.santander.com.mx/personas/assets/css/libs/bootstrap/bootstrap.min.css);
@import url(https://www.santander.com.mx/personas/assets/css/libs/owl/owl.carousel.min.css);
@import url(https://www.santander.com.mx/components/navbar/css/navbar.css);
@import url(https://www.santander.com.mx/components/buscador/assets/css/buscador.css);
@import url(https://www.santander.com.mx/components/breadcrumb/css/breadcrumb-hero.css);
@import url(https://www.santander.com.mx/components/footer/assets/css/footer_.css);
@import url(https://www.santander.com.mx/components/nuestros-productos/css/nuestros-productos.css);

@media (min-width: 992px) {
    .contenedor {
        width: 100% !important;
        padding-left: 108px !important;
        padding-right: 108px !important;
        max-width: 1440px !important;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .contenedor {
        padding-left: 81px !important;
        padding-right: 81px !important;
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    .contenedor {
        padding-left: 54px !important;
        padding-right: 54px !important;
    }
}

@media (max-width: 575px) {
    .contenedor {
        padding-left: 24px !important;
        padding-right: 24px !important;
    }
}