.section-banner-hero .container-banca-digital .card .card-body .opt-supernet a {
    cursor: pointer;
}

#modalExperiencia .modal-dialog {
    max-width: 580px;
}

#modalExperiencia .modal-content {
    border-radius: 12px;
}

#modalExperiencia .modal-header {
    border-bottom: 0;
    justify-content: end;
    padding-bottom: 0;
}

#modalExperiencia .modal-header button {
    background-color: #fff;
    border: none;
}

#modalExperiencia .modal-body {
    text-align: center;
    padding: 0 40px 32px 40px;
}

#modalExperiencia .modal-body img {
    width: 100%;
    max-width: 292px;
}

#modalExperiencia .modal-body .title {
    font-family: 'Santander Headline';
    font-size: 28px;
    font-weight: 700;
    line-height: 125%;
    text-align: center;
    margin-bottom: 16px;
}

#modalExperiencia .modal-body .desc {
    font-family: 'Santander Text';
    font-size: 18px;
    font-weight: 400;
    line-height: 150%;
    text-align: center;
    margin-bottom: 16px;
}

#modalExperiencia .modal-body .container-buttons {
    display: flex;
    justify-content: center;
    gap: 32px;
    margin-bottom: 24px;
}

#modalExperiencia .modal-body .container-buttons .button {
    font-family: 'Santander Micro Text';
    font-size: 16px;
    font-weight: 700;
    line-height: 150%;
    text-align: center;
    margin: 0;
    text-decoration: none;
    border: 1px solid #ec0000;
    border-radius: 40px;
    padding: 8px 24px;
    transition: 0.3s ease all;
    -webkit-transition: 0.3s ease all;
    -moz-transition: 0.3s ease all;
    -o-transition: 0.3s ease all;
}

#modalExperiencia .modal-body .container-buttons .button-white {
    color: #ec0000;
    border-color: #ec0000;
    background-color: #fff;
}

#modalExperiencia .modal-body .container-buttons .button-white:hover {
    color: #fff;
    background-color: #ec0000;
}

#modalExperiencia .modal-body .container-buttons .button-red {
    color: #fff;
    background-color: #ec0000;
}

#modalExperiencia .modal-body .container-buttons .button-red:hover {
    color: #ec0000;
    background-color: #fff;
}